extends layout

block head
    script(type='text/javascript', src='jquery/dist/jquery.min.js')
    script(type='text/javascript', src='http://#{ socket_ip }:#{ socket_port }/socket.io/socket.io.js')
    
    script.
        window.socket_ip = '#{ socket_ip }';
        window.socket_port = '#{ socket_port }';
        
    script(type='text/javascript', src='accelerator_client.js')

    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap-theme.min.css')

block content
    .container
        .row
            .col-md-12.text-center
                h1= title

        .row
            .col-md-12.text-center
                .row
                    p#status Waiting

        .row
            .col-sm-6.text-center
                button.btn.btn-danger.btn-lg#reset Reset

            .col-sm-6.text-center
                button.btn.btn-warning.btn-lg#pause Pause
